@page "/productlist" 
@using RikaWebApp.Models
@using static System.Net.WebRequestMethods
@using System.Net.Http.Json

<PageTitle>Category Name</PageTitle> @* Titel hämtas från vald kategori *@

<section class="product-list-section">
    <div class="container">
        <h5 class="category-title">Clothes</h5> @* Titel hämtas från vald kategori *@
        <h6 class="error-message">@errorMessage</h6>
        <div class="product-list">
            @if (products == null)
            {
                <h6 class="error-message">Loading products...</h6>
            }
            else if (!products.Any())
            {
                <h6 class="error-message">No products available in this category</h6>
            }
            else
            {
                <div class="product-list">
                    @foreach (var product in products)
                    {
                        <div class="product-card">
                            <img class="product-image" src="@product.FirstImageUrl" />
                            <btn class="btn-round">
                                <i class="fa-regular fa-heart"></i>
                            </btn>
                            <div class="product-card-info">
                                <h5 class="product-name">@product.Name</h5>
                                <p class="short-desc">@product.ShortDescription</p>
                                <div class="product-prices">
                                    @if (product.Prices.Discount.HasValue)
                                    {
                                        <h5 class="discount">$@product.Prices.DiscountPrice.ToString("C")</h5>
                                        <h5 class="original-price">$@product.Prices.Price1.ToString("C")</h5>
                                    }
                                    else
                                    {
                                        <h5 class ="original-price">@product.Prices.Price1.ToString("C")</h5>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>

@code {
    private ProductCardModel[]? products;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await Http.GetFromJsonAsync<ProductCardModel[]>("http://localhost:7111/api/GetProducts");

            if (products == null || !products.Any())
            {
                errorMessage = "No products available in this category";
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Failed to load products, try again later";
            Console.WriteLine(ex);
        }
    }
}